@(user: User, message:String)(implicit request: RequestHeader)

@main("Login") {
<div class="row">
    <div class="span12" id="alerts">
        @if(message != ""){
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            @message
        </div>
        }
    </div>
</div>

<form id="loginForm" action="/register" method="post" enctype="multipart/form-data" class="form-horizontal" onsubmit="return checkPassword()">
    <div class="control-group">
        <label class="control-label" for="title">Username</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="username" name="username" maxlength="30" value="@user.username">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Password</label>
        <div class="controls">
            <input type="password" class="input-xlarge" id="password" name="password" maxlength="15">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Confirm Password</label>
        <div class="controls">
            <input type="password" class="input-xlarge" id="confirmPassword" name="confirmPassword" maxlength="15" value="">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Email</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="email" name="email" maxlength="300" value="@user.email">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary btn-large" value="Sign Up"/>
        </div>
    </div>
</form>
<script>
    function checkPassword(){
    var password = $("#password").val();
    var confirmPassword = $("#confirmPassword").val();

    if(password == confirmPassword)
    return true;

    $("#alerts").append('<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a>' + 'Password does not match' + '</div>');
    return false;
    }

</script>
}